@model ProjektniZadatak.Models.Pacijent

@{
    ViewData["Title"] = "Delete";
}

<h1>Obriši</h1>

<h3>Jeste li sigurni da želite obrisati ovog pacijenta?</h3>
<div>
    <h4>Pacijent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se nazad na listu</a>
    </form>
</div>
