@model IEnumerable<ProjektniZadatak.Models.Pacijent>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista svih pacijenata</h1>

<p>
    <a asp-action="Create">Dodaj novog pacijenta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojTelefona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojZdravstveneKnjizice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojTelefona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojZdravstveneKnjizice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
