@model ProjektniZadatak.Models.Prijem

@{
    ViewData["Title"] = "Delete";
}

<h1>Obriši</h1>

<h3>Jeste li sigurni da želite obrisati ovaj prijem?</h3>
<div>
    <h4>Prijem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacijent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacijent.Ime)
            @Html.DisplayFor(model => model.Pacijent.Prezime) - 
            @Html.DisplayFor(model => model.Pacijent.BrojZdravstveneKnjizice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumVrijemePrijema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumVrijemePrijema)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ljekar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ljekar.Ime)
            @Html.DisplayFor(model => model.Ljekar.Prezime) -
            @Html.DisplayFor(model => model.Ljekar.Sifra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HitniPrijem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HitniPrijem)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se nazad na listu</a>
    </form>
</div>
