@model ProjektniZadatak.Models.Prijem

@{
    ViewData["Title"] = "Details";
}

<h1>Pregled podataka o prijemu</h1>

<div>
    <h4>Prijem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacijent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacijent.Ime)
            @Html.DisplayFor(model => model.Pacijent.Prezime) -
            @Html.DisplayFor(model => model.Pacijent.BrojZdravstveneKnjizice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumVrijemePrijema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumVrijemePrijema)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ljekar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ljekar.Ime)
            @Html.DisplayFor(model => model.Ljekar.Prezime) -
            @Html.DisplayFor(model => model.Ljekar.Sifra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Uredi prijem</a> |
    <a asp-action="Index">Vrati se nazad na listu</a>
</div>
<br />
<div>
    <a asp-controller="Nalaz" asp-action="Create" asp-route-prijemID="@Model?.ID">Dodaj nalaz</a> |
    @if (Model?.Nalaz != null)
    {
        <a asp-controller="Nalaz" asp-action="Details" asp-route-id="@Model?.Nalaz?.ID">Detalji o nalazu</a>
    }
</div>
<br />
<br />
<div>
    <a asp-action="GeneratePDF" asp-route-prijemID="@Model?.ID" class="btn btn-outline-info">Download PDF</a>

</div>