@model IEnumerable<ProjektniZadatak.Models.Prijem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumVrijemePrijema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HitniPrijem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacijent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ljekar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumVrijemePrijema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HitniPrijem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacijent.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ljekar.Ime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
