@model ProjektniZadatak.Models.Nalaz

@{
    ViewData["Title"] = "Delete";
}

<h1>Obriši</h1>

<h3>Jeste li sigurni da želite obrisati ovaj nalaz?</h3>
<div>
    <h4>Nalaz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumVrijemeKreiranja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumVrijemeKreiranja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijem.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se nazad na listu</a>
    </form>
</div>
